body {
    background-color: rgb(206, 201, 201);
    font-size: 25px;
    height: 100vh;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    color: rgba(23, 31, 31, 0.575);
}

.header {
    display: flex;
    justify-content: center;
}

.slidecontainer {
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
    height: 600px;
    width: 600px;
    border: 1px solid black;
    box-shadow: 5px 5px rgb(173, 165, 165);
}

.grid-div {
    display: flex;
}

.box {
    display: inline-block;
    box-sizing: border-box;
}

.grid {
    display: block;
    width: 100%;
    font-size: 0;
}